body{background-color: lightgreen;}

.steps {

	background-color: salmon;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

h2 {
	text-align: center;
}
